<!-- <h1>{{product | json}}</h1>-->
<div class="container-fluid justify-content-around">
  <div class="row">
      <div class="col-md-5 col-md-push-6">
          <div class="one">
            <div class="container-fluid phone-image">
              <img src="{{product.img_links}}" class=" phone-class img-fluid">
              
            </div>
            <div class="button-box col-lg-12">
              <a href="{{product.best_buy_links}}" class="btn btn-primary" role="button">Buy Now</a>
              <a href="#" class="btn btn-warning" role="button">Compare</a>
            </div>
          </div>
       
    </div>
    <div class="col-md-7 col-md-pull-6">
      <div class="two">
        <div class="product-content">
          <h2 class="product-title">{{product.mobiles}}</h2>
          <br>
          <div class = "product-price">
            <p class = "new-price">Price: <span>Rs. {{product.b_Price}}</span></p>
          </div>
          <div class = "product-detail">
            <h2>about this item: </h2>
            <p>{{product.Summary}}</p>
            <ul *ngFor="let in of counter(8) ;let i = index">
              <li *ngIf="key_specs_values[i]!=undefined">{{key_specs_keys[i]}} : <span>{{key_specs_values[i]}}</span></li>
   
            </ul>
          </div>
          <div class = "product-detail pro">
            <h2>Pros: </h2>
            <ul *ngFor="let pro of pros">
              <li><span>{{pro}}</span></li>
   
            </ul>
          </div>
          <div class = "product-detail con">
            <h2>Cons: </h2>
            <ul *ngFor="let con of cons">
              <li><span>{{con}}</span></li>
   
            </ul>
          </div>
          <div class = "product-detail">
            <h2>Specifications: </h2>
            <table class="basic-table table table-hover container">
              <tbody>
                <tr *ngFor='let in of counter(78) ;let i = index'>
                  <td *ngIf="specs[i]!=undefined">{{category[i]}}</td>
                  <td *ngIf="specs[i]!=undefined">{{specs[i]}}</td>
                </tr>
              </tbody>
            </table>          
  
            
          </div>
        </div>
        
  
        
      </div>
  </div>
</div>


