
<div class="section" id="AboutUsSection">
    <div class="container">
        <div class="title">
            <h1>About us</h1>
        </div>
        <div class="content">
            <div class="article">
                <p> Struggling to find the gadget that meets all your requirements? Have done a lot of research
                    but still confused about what gadget to buy? Well, we have got your back.<b style="font-weight:700;"> Digiहल</b> 
                    is a platform that will help you overcome this situation. We will provide suggestions for laptops, 
                    smartphones, and other devices according to your requirements
                    </p><p>Also, we mention the pros and cons of the suggestions we make. Today, the most 
                        important parameters are time and money. Using our platform you will 
                        get quick suggestions and thereby save time for both technical and non-technical people. 
                        We are not going to charge a single penny to you, thus you will save money too.</p>
                
            </div>
        </div>
        <div class="image-section">
            <img src="https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80">
        </div>
    </div>
</div>