<div class = "product-detail">
  <h1 class="recommendation-heading">{{product1.mobiles}} Vs. {{product2.mobiles}}</h1>
    <hr>
    <table class="basic-table table table-hover container">
      <tbody>
        <tr>
          <td>
          </td>
          <td>
            <div class="phone-img container-fluid"
            style="background:url({{product1.img_links}}) no-repeat center;
            background-size: 100% 100%;">
              
            </div>
          </td>
          <td>
            <div class="phone-img container-fluid"
            style="background:url({{product2.img_links}}) no-repeat center;
            background-size: 100% 100%;">
              
            </div>
          </td>
        </tr>
        <tr *ngFor='let in of counter(78) ;let i = index'>
          <td class="category" *ngIf="specs1[i]!='-' || specs2[i]!='-'">{{category[i]}}</td>
          <td class="phone-data" *ngIf="specs1[i]!='-' || specs2[i]!= '-'" >{{specs1[i]}}</td>
          <td  class="phone-data" *ngIf="specs1[i]!='-' || specs2[i]!='-'" >{{specs2[i]}}</td>

        </tr>
      </tbody>
    </table>          

    
  </div>
