.table{
    width:60%;
    
}
.category{
    font-weight:600;
    width:20%;

}
.phone-data{
    width:30%;
}
img{
    margin-top:25px;
    width:30%;
    height: 400px;
  }
table{
    margin-top:40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.36);
}
.phone-img{
    /* border:4px solid black; */
    height:250px;
    width:120px;
    margin-right:180px;
    
}

.recommendation-heading{
    position: relative;
    color: #12263a;
    line-height: 40px;
    padding:10px;
    margin-left: 20px;
    text-align:center;
    font-size: 30px;
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
}

hr{
    height:3px; 
    width:30%; 
    border-width:0; 
    color:rgb(80, 78, 78); 
    background-color:rgb(102, 101, 101);
    margin:auto;
}
